<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>Registro de renta denegado:</h1>
    <p>No se ha podido registrar la renta debido a que el id del usuario y/o el id de la pelicula no existen.</p>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href="/rent"> Regresar</a>
</body>
</html>