.pelicula-item {
    display: flex;
    flex-direction: column; /* Cambio a disposición de columna */
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    margin-bottom: 20px;
    list-style: none;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.pelicula-detail {
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px; /* Ajuste del margen inferior */
}

.eliminar-button, .editar-button {
    background-color: #343a40;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px; /* Ajuste del margen superior */
}

.eliminar-button:hover, .editar-button:hover {
    opacity: 0.8;
}


