.inicio-container {
    text-align: center;
    padding: 40px; /* Aumento del relleno */
  }
  
  .titulo {
    font-size: 48px; /* Tamaño de fuente aumentado */
    color: #343a40; /* Texto gris oscuro */
  }

  .parrafo {
    font-size: 24px; /* Tamaño de fuente reducido */
    color: #343a40; /* Texto gris oscuro */
    margin-bottom: 20px; /* Ajuste del margen inferior */
  }

  